<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django-Blog</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>
<div class="container">
<header class="container center-align">
    <h2>
        Django-Blog
    </h2>
</header>
    {% block content %}

    {% endblock %}
<br>
<a class="center-align" href="/admin"> Go to admin</a>
</div>
</body>
</html>